.division-membres {
  display: flex;
  align-items: flex-start;
}

.division-membres > * {
  text-align: center;
}
#imgMembre {
  width: 10em;
  border-radius: 1em;
}
.membres{
  text-align: center;
  margin-left: 5%;
  margin-top: 15%;
}
.titre-gpartie{
  text-align: center;
  margin-bottom: 10%;
}
.presentation-div{
  display: flex;
  margin-bottom: 5%
}
.presentation-img{
  height: 15em;
  width: 20em;
  border-radius: 5%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}
.presentation-text{
  font-family: Verdana,sans-serif;
  font-size: 15px;
  margin-top: 1%
}

.group-text-gauche{
  margin-left: 10%
}

.group-text-droite{
  margin-right: 10%
}

.fond-text{
  background-color: rgba(212, 212, 212, 0.13);
  border-radius : 1%
}
