.extrait{
  display: flex;
  flex-wrap: wrap;
  background-color: #fafdef;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  border-bottom: 0.1em;
  border-style: solid;
  border-collapse: collapse;
}
#titre-descr{
  margin-left: 15%;
}
#audio-download{
  margin-left: 15%;
  margin-top: 1.7%;
}
