.imagepresse{
  height: 100%;
  width: 100%;
  margin-right: 5%;
}
.flex{
  display: flex;
}

.article{
height: 100%;
width: 100%;

}
.contain-img-text{
  background-color: #fafdef;
  margin-top: 5%;
  border-radius: 5%;
  width:120%;
  margin-left: -10%;
}
.article-titre {
width: 50%;
text-align: right;
margin-left: 25%;
z-index: 1;
margin-bottom: 3%
}

h1{
  text-align: center;
}

.article-image img{
z-index: 2;
height: 90%;
width: 90%;
margin-right: 5%;
margin-top: 5%;
border-radius: 2%;
}

.article-text{
  text-align: justify;
  padding-top: 8%;
  margin-left: 10%;
  margin-right: 10%
}

#redige{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: bold;
}
