{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/clarinette/clarinette_informations.css')}}">
<div id="page">
<h1 id="titre">Informations sur la clarinette</h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="7500">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li id="actu" data-target="#myCarousel" data-slide-to="0"></li>
    <li id="actu" data-target="#myCarousel" data-slide-to="1"></li>
    <li id="actu" data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner ">
    <div class="item active actu">
      <img id="image" src="{{ url_for('static',filename='img/clarinette.jpg' ) }}" style="width:100%;" alt="Clarinette sopranino" >
      <div id="contour" class="carousel-caption">
        <h3>Clarinette sopranino</h3>
        <a type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">En savoir plus...<span class="glyphicon glyphicon-chevron-down"></span></a>
        <p id="demo" class="collapse">
          Un peu plus grande que la sopranino, cette clarinette est beaucoup plus courante que sa petite soeur.
          Il suffit de regarder l'offre des facteurs pour s'en rendre compte immédiatement.
          Selon les modèles, le corps est soit d'un seul tenant, soit en deux parties.
          Comme la majorité des clarinettes, ce modèle est dit transpositeur. C'est à dire que lorsque l'on joue un do écrit, la note réelle est un mi bémol situé une tierce mineure au dessus.
          La clarinette soprano en mi bémol est également appelée clarinette piccolo à cause de son registre aigu.
          Bien que difficile à maîtriser, ce registre est souvent qualifié de criard, ironique ou encore de sarcastique.
          Son caractère est particulièrement bien mis en évidence dans les pièces "Till l'espiègle" (Richard Strauss) ou "La Symphonie Fantastique" (Berlioz).
          Ses registres médium et grave sont plus adaptés au passages mélancoliques et ténébreux.
          Rendue populaire par les orchestres d'harmonie, cette clarinette a fait sa première apparition dans l'orchestre à la fin du 19ème siècle.
          Elle ne s'y installera définitivement que grâce à des compositeurs de l'école française comme Roussel, Milhaud ou Ravel.
          <br><b>Tonalité :</b> Mi bémol
        </p>
      </div>
    </div>

    <div class="item actu">
      <div class="actu">
        <img id="image" src="{{ url_for('static',filename='img/clarinette2.jpg' ) }}" style="width:100%;" alt="Clarinette sopranino" >
        <div id="contour" class="carousel-caption">
            <h3>Clarinette soprano en Mi bémol</h3>
            <a type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo2">En savoir plus...<span class="glyphicon glyphicon-chevron-down"></span></a>
            <p id="demo2" class="collapse">
              La clarinette sopranino est la plus petite, et donc la plus aigue de toutes les clarinettes.
              Elle ne mesure que 25 centimètres, et son corps est constitué d'un seul tenant, soit en bois, soit en métal.
              Sa sonorité, aussi stridente que perçante, est liée à la petite taille de l'instrument.
              Elle est d'ailleurs si petite que les doigts se touchent une fois posés sur cette clarinette.
              La rareté de cet instrument s'explique par son utilisation peu courante.
              Elle était principalement utilisée par les bandas italiennes pour la musique militaire.
              Le Bal Masqué de Verdi est la pièce la plus significative du répertoire classique de cet instrument.
              Cette clarinette semble remise à l'honneur par les compositeurs contemporains pour sa sonorité, comme Gilbert Amy avec "Espace déployé".
              <br><b>Tonalité :</b> La bémol
            </p>
        </div>
      </div>
    </div>


    <div class="item actu">
      <div class="actu">
        <img id="image" src="{{ url_for('static',filename='img/fond.png' ) }}" style="width:100%;" alt="Clarinette sopranino" >
        <div id="contour" class="carousel-caption">
            <h3>Clarinette en Ré</h3>
            <a type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo3">En savoir plus...<span class="glyphicon glyphicon-chevron-down"></span></a>
            <p id="demo3" class="collapse">
              Bien que mieux représentée par les facteurs que la sopranino en la bémol, la clarinette en ré reste assez rare.
              Cette clarinette est aujourd'hui utilisée quasiment exclusivement pour l'interprétation des concertos de Molter.
              Son timbre est plus doux que celui de la mi bémol dans le grave, et elle propose un aigu séduisant.
              Certaines pièces de Richard Strauss et de Stravinsky incluent des traits écrits pour cet instrument,
              mais les instrumentistes préfèrent très souvent les transposer pour la clarinette soprano en mi bémol.
              <br><b>Tonalité :</b> Ré
            </p>
        </div>
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a id="slide" class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span id="fleche" class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a id="slide" class="right carousel-control" href="#myCarousel" data-slide="next">
    <span id="fleche" class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
{% endblock %}
