#hliens{
  text-align: center;
  font-size: 30px
}


.underline2{
  width:16%;
  margin-top:-1.5%;
}

.liens{
  margin: 5%;
  text-align: center;
  color: black;
}

.center{
  padding: 5%;
  border-radius: 25px;
  width: 90%;
  margin-left: 5%;
  background-color: #fafdef;
  border-color: black;
  border-style: solid;
  border-width: thin;
}
#lien-a{
  color: black;
  margin-top: 5%;
}
