#hliens{
  text-align: center;
  font-size: 30px
}


#space{
  margin-bottom: 2%;
}

.underline2{
  width:16%;
  margin-top:-1.5%;
}

.liens{
  text-align: center;
}

.center{
  background-color: #fafdef;
  border-color: black;
  border-style: solid;
  border-width: thin;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 3%;
  padding: 5%;
  border-radius: 25px;
}
#down{
  color: black;
}

#contain-link-glyph{
  padding-top: 4%;
}
