#hliens{
  text-align: center;
  font-size: 30px
}

#logo-liens{
  width: 10em;
  height: 10em;
}

.liste-logo{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.liste-partenaires{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

#logo-partenaires{
  width: 10em;
  height: 10em;
}

.liste-logo div{
  margin-left: 10%;
  margin-right: 10%;

}

.liste-partenaires div{
  margin-left: 5%;
  margin-right: 5%;
}

.partenaires{
  margin-bottom: 5%
}

.underline2{
  width:16%;
  margin-top:-1.5%;
}

.liens{
  text-align: center;
}


.list-profs>ul{
  list-style-type: none;
  margin-left: 3.5%;
  display: flex;
  flex-wrap: wrap;
}
.list-profs li{
  padding: 3.5%;
  text-align: center;
  margin-top: 2%;
}
