{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/quatuor/quatuor_presentation.css')}}">
  <h1 class="titre-gpartie">Presentation du quatuor</h1>
  <div class="presentation-gdiv">
      <img class="img-rounded" id="img1" src="{{ url_for('static',filename='img/presentation-quatuor-1.png') }}" alt="">
      <div class="presentation-text">
        <p>
          Né en 1998 de la complicité et de l'amitié de quatre clarinettistes professionnels, tous titulaires d'un premier prix de l'E.N.M. d'Orléans dans la classe de Michel ARRIGNON et du diplôme d'état de professeur de clarinette, le quatuor
          "Divertimento" se propose de vous faire découvrir l'originalité et la richesse de sa formation à travers un choix d'oeuvres représentatives des différentes époques de l'histoire de la musique.
        </p>
      </div>
      <div class="presentation-text">
        <p>
          Par la diversité de son répertoire, allant de la Renaissance à l'époque contemporaine, en passant par le jazz et la musique populaire, le quatuor "Divertimento" se donne pour objectifs l'élaboration et la présentation d'un programme
          musical divertissant, adapté à chaque circonstance ( concerts, animations en milieu scolaire, cocktails, inaugurations, vernissages... ).
        </p>
      </div>
      <img class="img-rounded" id="img2" src="{{ url_for('static',filename='img/presentation-quatuor-2.png') }}" alt="">
      <div class="presentation-text">
        <p>
          Dans le cadre de ses activités, le Quatuor DIVERTIMENTO attire votre attention sur les prestations musicales qu’il propose aux organisateurs de concerts, communes, regroupements de communes ou associations. Les prestations du Quatuor
          DIVERTIMENTO sont régulièrement évaluées et validées par la mission culturelle du Conseil régional du Centre. A la demande de l’organisateur du concert, ces prestations peuvent faire l’objet d’un soutien financier accordé par le Conseil
          régional du Centre dans le cadre de sa politique de développement artistique et culturel.<br><br><br>
        </p>
      </div>
      </div>

  <h1 class="titre-gpartie">Les Membres</h1>
  <div class="membres">
    <div class="division-membres">
      <div id = "first-two">
        <div id="Tony-Bigot">
          <h3> Tony Bigot </h3>
          <img class="img-circle" id = "member1" src="{{ url_for('static',filename='img/Tony-Bigot.png') }}" alt="Tony Bigot"/>
          <p id = "inst"> Clarinette Si Bémol et clarinette Mi Bémol</p>
          <ul>
            <li>Premier prix du conservatoire d’Orléans,</li>
            <li>Premier prix régional (Région Centre),</li>
            <li>Médaille d’or du CNR de Paris,</li>
            <li>Titulaire du diplôme d’état de professeur de clarinette,</li>
            <li>Professeur dans les écoles municipales de musique de <br> La Chapelle Saint-Mesmin (Loiret), Gien (Loiret) <br> et Saint Denis-en-Val (Loiret)</li>
        </div>
        <div id="Frederic-Dudilet">
          <h3> Frédéric Dudilet </h3>
          <img class="img-circle" id = "member2" src="{{ url_for('static',filename='img/Frederic-Dudilet.png') }}" alt="Frederic Dudilet"/>
          <p id = "inst"> Clarinette Si Bémol</p>
          <ul>
            <li>Premier prix du conservatoire d’Orléans,</li>
            <li>Premier prix régional (Région Centre),</li>
            <li>Titulaire du CAPES (Musique),</li>
            <li>Titulaire du diplôme d’état de professeur de clarinette,</li>
            <li>Professeur au collège de Saint-Laurent-des-Eaux (Loir-et-Cher)</li>
        </div>
      </div>
      <div id = "two-last">
        <div id="Robert-Ramon">
          <h3> Robert Ramon </h3>
          <img class="img-circle" id = "member2" src="{{ url_for('static',filename='img/Robert-Ramon.png') }}" alt="Robert Ramon"/>
          <p id = "inst"> Clarinette Si Bémol et Cor de Basset</p>
          <ul>
            <li>Premier prix du conservatoire d’Orléans,</li>
            <li>Premier prix du conservatoire de Saint-Etienne,</li>
            <li>Médaille d'or du conservatoire de Saint-Etienne,</li>
            <li>Titulaire du diplôme d’état de professeur de clarinette,</li>
            <li>Professeur du CRC d'Olivet</li>
        </div>
        <div id="Olivier-Roussillat">
          <h3> Olivier Roussillat </h3>
          <img class="img-circle" id = "member2" src="{{ url_for('static',filename='img/Olivier-Roussillat.png') }}" alt="Olivier Roussillat"/>
          <p id = "inst"> Clarinette Basse</p>
          <ul>
            <li>Premier prix du conservatoire d’Orléans,</li>
            <li>Premier prix régional (Région Centre),</li>
            <li>Médaille d'or du CNR de Paris,</li>
            <li>Ancien directeur de la Musique Municipale d'Orléans,</li>
            <li>Titulaire du diplôme d’état de professeur de clarinette,</li>
            <li>Professeur CRC Maurice Ravel de Fleury-Les-Aubrays (Loiret)</li>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
