{% extends "quatuor/quatuor_presse_actu.html" %}
{% block presse %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container  liste-article">
  <input class="form-control" id="myInput" type="text" placeholder="Rechercher...">
  <br>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Nom de l'article</th>
        <th>Date</th>
        <th>Rédigé par</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for elem in liste %}
      <tr>
        <td><a id="nolink" href="/quatuor/presse/article/{{elem[0]}}">{{elem[0]}}</a></td>
        <td>{{elem[1]}}</td>
        <td>{{elem[2]}}</td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
 $("#myInput").on("keyup", function() {
   var value = $(this).val().toLowerCase();
   $("#myTable tr").filter(function() {
     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
   });
 });
});
</script>
{% endblock %}
