{% extends "quatuor/quatuor_presse_actu.html" %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/quatuor/quatuor_presse_all.css')}}">
{% block presse %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container  liste-article">
<br>
{% for i in range(liste|length) %}
{% if i%2==0 %}
<div class="presse-titre presse-paire">
  <h3>{{liste[i][0]}}</h3>
  <div class="presse-vignette">
    <div id="blocImage">
      <img src="{{ url_for('static',filename='img/'+liste[i][3]+'.png')}}" alt="Image de {{liste[i][0]}}">
      <p>Posté par {{liste[i][2]}} le {{liste[i][1]}}</p>
    </div>
    <p>{{ liste[i][4]}}</p>
  </div>
</div>
{% else %}
<div class="presse-titre presse-impaire">
    <h3>{{liste[i][0]}}</h3>
  <div class="presse-vignette">
    <p>{{ liste[i][4]}}</p>
    <div id="blocImage">
      <img src="{{ url_for('static',filename='img/'+liste[i][3]+'.png')}}" alt="Image de {{liste[i][0]}}">
      <p>Posté par {{liste[i][2]}} le {{liste[i][1]}}</p>
    </div>
  </div>

</div>
{% endif %}

{% endfor %}

</div>
{% if ok %}
<div class="center">
  {% if id!=0 %}
  <a href="/quatuor/presse/all/{{ id-1 }}">Précédent</a>
  {% endif %}
  {% for i in range(gliste|length+2) %}
  <a href="/quatuor/presse/all/{{ i }}">{{i}}</a>
  {% endfor %}
  {% if id!=gliste|length+1 %}
  <a href="/quatuor/presse/all/{{ id+1 }}">Suivant</a>
  {% endif %}

</div>
{% endif %}
{% endblock %}
