{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/autre/liens.css')}}">
<h1>Liens</h1>

<br>
<div class="liens">
  <h2 id="hliens">Réseaux sociaux</h2>
  <img class="underline1" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
  <br>
  <div class="liste-logo">
    <a href="https://fr-fr.facebook.com/QuatuorDivertimento45/">
      <img src="{{ url_for('static',filename='img/logo-facebook.png') }}" alt="facebook logo" id="logo-liens"><br><br>
      <strong>
        <p>Notre page facebook</p>
      </strong>
    </a>

  </div>
</div>
  <h2 id="hliens">Nos partenaires</h2>
  <img class="underline2" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
<div class="partenaires liens">
  <br>
  <div class="liste-partenaires">
    <div>
      <a href="https://www.buffet-crampon.com/fr/">
        <img src="{{ url_for('static',filename='img/logo-crampon.png') }}" alt="Buffet Crampon" id="logo-partenaires">
        <strong>
          <p>Buffet Crampon</p>
        </strong>
      </a>
      <p>Fabricant français de clarinette</p>
    </div>
    <div>
      <a href="https://www.vandoren-fr.com/">
        <img src="{{ url_for('static',filename='img/logo-vandoren.png') }}" alt="vandoren logo" id="logo-partenaires">
        <strong>
          <p>Vandoren</p>
        </strong>
      </a>
      <p>Fabricant d'accessoires et de partitions</p>
    </div>
  </div>
  <div class="liste-partenaires">
    <div>
    <a href="http://cyrillemercadier.com/">
      <img src="{{ url_for('static',filename='img/Logo Cyrille Mercadier-page-001.jpg') }}" alt="Buffet Crampon" id="logo-partenaires">
      <strong>
        <p>Cyrille Mercadier Clarinette</p>
      </strong>
    </a>
    <p>Boutique de clarinette à Paris</p>
  </div>
  <div>
    <a href="https://www.atelierdesvents.fr/">
      <img src="{{ url_for('static',filename='img/Logo atelier des vents.JPG') }}" alt="Buffet Crampon" id="logo-partenaires">
      <strong>
        <p>L'Atelier des Vents</p>
      </strong>
    </a>
    <p>Magasin de clarinette en ligne</p>
  </div>
  </div>
</div>





{% endblock %}
