#main{
  margin-top: 5em;
}

.img-accueil{
height: 150%;
width: 150%;
}

p{
  font-family: Verdana,sans-serif;
}



.titre-gpartie{
text-align: center;
text-decoration: underline;
margin-bottom: 10%;

}

.presentation-div{
  display: flex;
  margin-bottom: 5%
}

.presentation-img{
  height: 100%;
  width: 100%;
  border-radius: 5%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.presentation-text{
  font-family: Verdana,sans-serif;
  font-size: 15px;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.quatuor-concert-div{
  display: flex;
}


.quatuor-concert-div>p{
  margin-left: 2.5%;
  margin-right: 2.5%
}

.quatuor-concert-gpartie>*{
text-align: center
}

.quatuor-concert-div{
  margin-bottom: 2.5%
}
