{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/administration/administration_gestionStagiaires_stagiaires.css')}}">
<div class="liens">
  <h1 id="hliens">Modifier un stage</h1>
</div>
<div id="contain-all">
<form class="form-horizontal" id="form_login"role="form" method="POST" action="{{ url_for('administration_creerStage') }}">
  {{ creaStageForm.hidden_tag() }}
  <div class="form-group">
    <label for="nomStage" class="col-sm-5 control-label">{{creaStageForm.intituleSt.label}}</label>
    <div class="col-sm-5">{{ creaStageForm.intituleSt(size=50, class="form-control", placeholder="Intitule du stage")}}</div>
  </div>
  <div class="form-group">
    <label for="repSt" class="col-sm-5 control-label">{{creaStageForm.repSt.label}}</label>
    <div class="col-sm-5">{{ creaStageForm.repSt(class="form-control", placeholder="Repertoire du stage")}}</div>
  </div>
  <div class="form-group">
    <label for="nbPlaces" class="col-sm-5 control-label">{{creaStageForm.nbPlaceSt.label}}</label>
    <div class="col-sm-5">{{ creaStageForm.nbPlaceSt(size=50, class="form-control", placeholder="Nombre de place")}}</div>
  </div>
  <div class="form-group">
    <label for="dateDebSt" class="col-sm-5 control-label">{{creaStageForm.dateDebSt.label}}</label>
    <div class="col-sm-5">{{ creaStageForm.dateDebSt(size=50, class="form-control", type="date", placeholder="YYYY-MM-DD")}}</div>
  </div>
  <div class="form-group">
    <label for="dateFinSt" class="col-sm-5 control-label">{{creaStageForm.dateFinSt.label}}</label>
    <div class="col-sm-5">{{ creaStageForm.dateFinSt(size=50, class="form-control", type="date", placeholder="YYYY-MM-DD")}}</div>
  </div>
  <div class="form-group">
    <label for="adresseSt" class="col-sm-5 control-label">{{lieuForm.adrLieu.label}}</label>
    <div class="col-sm-5">{{ lieuForm.adrLieu(size=50, class="form-control", placeholder="Adresse")}}</div>
  </div>
  <div class="form-group">
    <label for="cpSt" class="col-sm-5 control-label">{{lieuForm.CPLieu.label}}</label>
    <div class="col-sm-5">{{ lieuForm.CPLieu(size=50, class="form-control", placeholder="Code Postal")}}</div>
  </div>
  <div class="form-group">
    <label for="villeSt" class="col-sm-5 control-label">{{lieuForm.villeLieu.label}}</label>
    <div class="col-sm-5">{{ lieuForm.villeLieu(size=50, class="form-control", placeholder="Ville")}}</div>
  </div>
  <div class="form-group">
    <label for="descSt" class="col-sm-5 control-label">{{creaStageForm.descSt.label}}</label>
    <div class="col-sm-5">{{ creaStageForm.descSt(size=50, class="form-control", placeholder="Description du stage ...")}}</div>
  </div>
  <div class="form-group">
    <label for="prixSt" class="col-sm-5 control-label">{{creaStageForm.prixSt.label}}</label>
    <div class="col-sm-5">{{ creaStageForm.prixSt(size=50, class="form-control", placeholder="XXX,XX")}}</div>
  </div>
  <div class="form-group">
    <label for="tenueSt" class="col-sm-5 control-label">{{creaStageForm.tenueSt.label}}</label>
    <div class="col-sm-5">{{ creaStageForm.tenueSt(size=50, class="form-control", placeholder="Tenue requise")}}</div>
  </div>
  <div class="form-group">
    <label for="nivRequisSt" class="col-sm-5 control-label">{{creaStageForm.nivRequisSt.label}}</label>
    <div class="col-sm-5">{{ creaStageForm.nivRequisSt(size=50, class="form-control", placeholder="Niveau requis")}}</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-5">
      <button id="btn-sub" type="submit" class="btn btn-default">Modifier stage</button>
    </div>
  </div>
</form>
</div>

{% endblock %}
