{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/administration/administration_gestionStagiaires.css')}}">
<div class="liens">
  <h1 id="hliens">Gestion des stagiaires</h1>
</div>
<div class="stagiaire-all">
  {% for stagiaires in dico_stagiaire %}
  <div class="stagiaire-annee">
    <h2>{{ stagiaires }}</h2>
    <div class="stagiaire-individu table-responsive">
      <table  class="table table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Age</th>
            <th>Niveau</th>
            <th>Mail</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          {% for stagiaire in dico_stagiaire[stagiaires] %}
          <tr>
            <!-- Nom Prenom age niveau mail role  -->
            <td>{{ stagiaire[0] }}</td>
            <td>{{ stagiaire[1] }}</td>
            <td>{{ stagiaire[2] }}</td>
            <td>{{ stagiaire[3] }}</td>
            <td><a style="color:rgb(0, 0, 0)" href="">{{ stagiaire[4] }}</a></td>
            <td>{{ stagiaire[5] }}</td>
            <td>
              <a href="/administration/modifierStagiaire/" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <a href="" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <a href="/administration/modifierStagiaire/" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>

  </div>
  {% endfor %}
</div>

{% endblock %}
