{% extends "base.html" %}
{% block main %}

<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/administration/administration_gestionFichiers_images.css')}}">
<div class="liens">
  <h1 id="hliens">Gestion des stages</h1>
</div>
<div class="stagiaire-all">
  <div class="stagiaire-annee">
    <h2>Stages</h2>

    <div class="stagiaire-individu table-responsive">
      {% if stages|length %}
      <h2>Il n'y a aucun stage pour le moment</h2>

      {% else %}
      <table  class="table table-bordered">
        <thead>
          <tr>
            <th>Intitule</th>
            <th>Repertoire</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Description</th>
            <th>Niveau requis</th>
            <th>Adresse</th>
            <th>Code Postal</th>
            <th>Ville</th>
            <th>Nombre de places</th>
            <th>Prix</th>
            <th>Tenue</th>
          </tr>
        </thead>
        <tbody>
          {% for stages in dico_stage %}
          <tr>
            <td>{{ stages.intituleSt }}</td>
            <td>{{ stages.idRep }}</td>
            <td>{{ stages.dateDebSt }}</td>
            <td>{{ stages.dateFinSt }}</td>
            <td>{{ stages.descSt }}</td>
            <td>{{ stages.nivRequisSt }}</td>
            <td>{{ stages.idLieu }}</td>
            <td>{{ stages.idLieu }}</td>
            <td>{{ stages.idLieu }}</td>
            <td>{{ stages.nbPlaceSt }}</td>
            <td>{{ stages.prixSt }}</td>
            <td>{{ stages.vetSt }}</td>
            <td>
            <a href="/administration/modifierStage/" class="btn btn-default">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="" class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
            </td>
          </tr>


      {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <a id="btn-plus" href="/administration/creerStage/" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</div>

{% endblock %}
