{% extends "administration/administration_gestionFichiers.html" %}
{% block fichier %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/administration/administration_gestionVideos.css')}}">
<div class="liens">
  <h1 id="hliens">Gestion des vidéos</h1>
  <img class="underline2" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
</div>
<div class="stagiaire-all">
  {% for videos in dico_videos %}
  <div class="stagiaire-annee">
    <h2>{{ videos }}</h2>
    <div class="stagiaire-individu table-responsive">
      <table  class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Aperçu</th>
            <th scope="col">Nom</th>
            <th scope="col">Type</th>
            <th scope="col">URL</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for video in dico_videos[videos] %}
          <tr>
            <!-- Nom Prenom age niveau mail role  -->
            <td><div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="{{ video[3] }}" allowfullscreen></iframe>
</div></td>
            <td>{{ video[0] }}</td>
            <td>{{ video[1] }}</td>
            <td><img href="" alt="">{{ video[2] }}</td>
            <td>
              <a href="/administration/modifierStagiaire/" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <a href="" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <input type="file" id="file1">
      <button type="button" class="btn btn-default">
        <i class="icon-upload icon-white"></i> Ajouter
      </button>
    </div>

  </div>
  {% endfor %}















</div>

{% endblock %}
