#stage{
  background-color: #fbfcef;
  border-color: black;
  border-style: solid;
  border-width: thin;
  margin-bottom: 2%;
  padding-bottom: 5%;
}
#titre{
  border-bottom: 1px solid black;
  padding-bottom: 2%;
}
h3{
  text-align: center;
  margin-top: -0.2%;
}
p{
  font-size: 130%;
}
#image{
  display: inline-block;
}
#image img{
  width: 30%;
  margin-top: -18%;
  margin-left: 68%;
}
#texte{
  display: inline-block;
  padding: 3%;
}
#desc{
  display: inline-block;
  padding: 3%;
  width: 60%;
  margin-top: -28.7%;
}
