@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700);

.navbar-fixed-bottom{
  background-color: white;
}
h1{
  text-align: center;
}
.row{
  margin-left: 5%;
  margin-right: 5%;
}
