#h3title{
    text-align: center;
}
h4{
    font-family: 'aaa';
    font-weight: bold;
    margin-top:1%;
    text-align: center;
}
h5{
    font-family: 'aaa';
    font-weight: bold;
    margin-top:1%;
    text-align: center;
    margin-right: 48%;
}
ul>li{
    list-style-type: none;
}
label{
    margin-top: 0.5%;
}
.bigcontainer{
    font-family: 'aaa';
    margin-top:1%;
    margin-left: 27%;
    text-align: center;
}
.bigcontainer2{
    font-family: 'aaa';
    margin-top:1%;
    margin-left: 26.0%;
    text-align: center;
}
.form-group{
    width:50%;
}
#submit{
    margin-top:1.5%;
} 
.underline{
    width:22%;
    margin-left: 39%;
    margin-top:-1.5%;
}
.underline2{
    width:12%;
    margin-left: 44%;
    margin-top:-1.5%;
}
p{
    margin-left: -22%;
    width: 90%;
    margin-top:3%;
    padding-bottom: 2%;
    text-align: justify;
}
.checkbox{
    width: 90%;
    margin-left: 4%;
}
#check{
    width:3.5%;
    margin-top:-13.5%;
}
#check2{
    margin-top: -10%;
    width:3.5%;
}