#h3title{
    text-align: center;
}
h4{
    font-family: 'aaa';
    font-weight: bold;
    margin-top:1%;
    text-align: center;
}
h5{
    font-family: 'aaa';
    font-weight: bold;
    margin-top:1%;
    text-align: center;
    margin-right: 48%;
}
ul>li{
    list-style-type: none;
}
label{
    margin-top: 0.5%;
}
.bigcontainer{
    font-family: 'aaa';
    margin-top:1%;
    margin-left: 27%;
    text-align: center;
}
.bigcontainer2{
    font-family: 'aaa';
    margin-top:1%;
    margin-left: 38%;
    text-align: center;
}
.form-group{
    width:50%;
}
.bigcontainer2 p{
  width: 60%;
}
#contain-h5{
  margin-left: -33%;
  padding: 2%;
}
#contain-h52{
  padding: 2%;
  margin-left: -7%;
}
#contain-lien a{
  margin-left: -28%;
}
#contain-checkbox{
  margin-right: 60%;
}
#contain-stagiaire{
    background-color: #fafdef;
    padding: 3%;
    width: 80%;
    margin-left: 10%;
    border-radius: 25px;
    margin-bottom: 3%;
}
#contain-stagiaire h4{
    margin-bottom: 3%;
}
#contain-stagiaire .form-group{
    margin-left: -8%;
}

#submit{
    margin-top:1.5%;
    margin-left: -27%;
}
.underline{
    width:22%;
    margin-left: 39%;
    margin-top:-1.5%;
}
.underline2{
    width:12%;
    margin-left: 44%;
    margin-top:-1.5%;
}
.p{
    margin-left: -22%;
    width: 90%;
    margin-top:3%;
    padding-bottom: 2%;
    text-align: justify;
}
.checkbox{
    width: 200%;
    margin-left: -50%;
}
#check{
    width:3.5%;
    margin-top:-12%;
}
#check2{
    margin-top: -10%;
    width:3.5%;
}
