body{
  font-family: 'aaa';
}
#btn-1{
  text-align: center;
}

#select-1{
  text-align: center;
  width: 20%;
  margin-left: 40%;
  padding: 1.5%;
}

#contain-select-tab{
  padding: 3%;
  background-color: #fafdef;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 25px;
  margin-bottom: 5%;
  width: 90%;
  margin-left: 5%;
}

#sel1{
  text-align: center;
}
img{
  margin-left: 36.5%;
  margin-top: -2%;
}
table{
  text-align: center;
  width: 90%;
}
table th{
  text-align: center;
  font-weight: bold;
}
.glyphicon{
  color: black;
  font-size: 150%;
}
