#boutton-concert{
  text-decoration: none;
  color: black;

}


#concert-stage{
  background-color: #fafdef;
  text-align: right;
  padding: 3%;
  margin: 5%;
  width: 90%;
  border-style: solid;
}

h2{
  text-align: center;
  padding: 3%;
}

#btn-map1{
  margin-top: 3%;
  margin-left: 40%;
}

#btn-map2{
  margin-top: 3%;
  margin-right: 40%;
}

#concert-stage p{
  margin-right: 5%
}
#concert-stage h2{
  margin-right: 15%
}


#concert-quatuor h2{
  margin-left: 15%
}

#concert-quatuor{
  background-color: #fafdef;
  border-color: black;
  border-style: solid;
  text-align: left;
  padding: 3%;
  margin: 5%;
  width: 90%;
  border-style: solid;
}
.map-container-9,.map-container-10,.map-container-11 {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.map-container-9 iframe, .map-container-10 iframe, .map-container-11 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;

}
.boutton-concert{
  text-align: center;
}


.flex-row>div{
  width: 65%
}
.flex-row>img{
  width: 35%;
}

#two-button{
    background-color: #fafdef;
}
#p-concerts1{
  text-align: center;
  padding: 4%;
  margin-left: -2%;
}
#p-concerts2{
  text-align: center;
  margin-left: 2%;
  padding: 4%;
}
#h2-1{
  margin-right: 15%;
}
#h2-2{
  margin-left: 15%;
}
