#hliens{
  text-align: center;
  font-size: 30px;
  padding: 3%;
  margin-top: -3%;
}

#logo-liens{
  width: 10em;
  height: 10em;
}

.liste-logo{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafdef;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 4%;
  padding: 2%;
  border-radius: 25px;

}
p{
  color: black;
}

.liste-partenaires{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
.liste-partenaires div{
  padding: 5%;
}

.liste-partenaires div p{
  padding: 2%;
}

#logo-partenaires{
  width: 10em;
  height: 10em;
}

.liste-logo div{
  margin-left: 10%;
  margin-right: 10%;

}

.underline1{
  width: 16%;
  margin-top: -6%;
}
.partenaires{
  margin-bottom: 5%;
  margin-top: 3%;
  background-color: #fafdef;
  width: 70%;
  margin-left: 15%;
  border-radius: 25px;

}

.underline2{
  width:16%;
  margin-top:-6%;
  margin-left: 42%;
}
.liens{
  text-align: center;
}
