{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/contact/plaquette.css')}}">

<div class="liens">
  <h1 id="hliens">Plaquette du Quatuor</h1>

  {% for annee in ListePlaquette %}
  <br>
  <h2 id="hliens">{{ annee }}</h2>
  <img class="underline2" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">

    {% for elem in ListePlaquette[annee] %}
  <div class="center" style="display:">
    <embed src="{{ url_for('static',filename='plaquettes_stage/'+annee+'/'+elem)}}" width=75% height=800em type='application/pdf'/>
    <br>
    <a href="{{ url_for('static',filename='plaquettes_stage/'+annee+'/'+elem)}}" download="{{ elem }}"><span class="glyphicon glyphicon-save"></span> Télécharger la plaquette</a>
    <p id="space"></p>

  </div>
  {% endfor %}
  {% endfor %}
</div>
<br>

<script type="text/javascript">




</script>

{% endblock %}
