{% extends "base.html" %}
{% block main %}

<script type="text/javascript">

    function autre(){

      let t = document.getElementById("hidden2");

      let $s = $('select');
      // console.log($s);

      let val = $s.find('option:selected').text().split(' ');
      // console.log(val);
      if (val[0]=="autre") {
        t.style.display = "";
      }
      else {
        t.style.display = "none";
      }
    }
    // Boucle de verification
    let myvar;
    myvar = setInterval('autre()',1000);

</script>

<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/contact/administratif.css')}}">

<div class="liens">
<h1>Contact Administratif</h1>
</div>
<div class="message">


<form class="form" id="form_login"role="form" method="POST" action="{{ url_for('administration_mailing') }}">

  <div class="form-group grand">
      <label for="nomAuteur">{{user_contactForm.nomAuteur.label}}</label>
      <div>{{ user_contactForm.nomAuteur(size=50, class="form-control", placeholder="Nom de l'expéditeur")}}</div>
  </div>
  <br>
  <div class="form-group grand">
      <label for="prenomAuteur">{{user_contactForm.prenomAuteur.label}}</label>
      <div>{{ user_contactForm.prenomAuteur(size=50, class="form-control", placeholder="Prénom de l'expéditeur")}}</div>
  </div>
  <br>
  <div class="form-group grand">
      <label for="mailAuteur">{{user_contactForm.mailAuteur.label}}</label>
      <div>{{ user_contactForm.mailAuteur(size=50, class="form-control", placeholder="Mail de l'expéditeur")}}</div>
  </div>
  <br>


  <div class="d-inline">
  <div class="form-group">
    <label for="objetMessage" id="select2">{{user_contactForm.objetMessage.label}}</label>
    <div>{{ user_contactForm.objetMessage(class="form-control")}}</div>
  </div>
  <div class="form-group" id="hidden2" style="display:none">
    <div>{{ user_contactForm.autrobjMessage(size=50, class="form-control", placeholder="Objet autre")}}</div>
  </div>
</div>
<br>
<div class="form-group">
  <label for="contenuMessage">{{user_contactForm.contenuMessage.label}}</label>
  <div>{{ user_contactForm.contenuMessage(size=100, class="form-control textarea", placeholder="Contenu du mail", style="resize: none;",rows="11",cols="20")}}</div>
</div>
<br>
<br>
<div class="">
  <div class="form-group">
      <label for="pjMessage">{{user_contactForm.pjMessage.label}}</label>
      <div>{{ user_contactForm.pjMessage(size=50, class="form-control")}}</div>
  </div>
  <br>
  <div class="form-group">
    <div>
      <button type="submit" class="btn btn-default">Envoyer mail</button>
    </div>
  </div>
</div>
  </form>
</div>





{% endblock %}
