{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/contact/fichetechnique.css')}}">

<div class="liens">
  <h1 id="hliens">Fiche Technique Concerts</h1>
  <div class="center">
    <p>Ici vous pourrez trouvez la fiche technique concernant les concerts du quatuor divertimento</p>
    <br>
    <embed src="{{ url_for('static',filename='fichier_statique/ficheTechnique.pdf')}}" width=75% height=800em type='application/pdf'/>
    <br>
    <br>
    <a href="{{ url_for('static',filename='fichier_statique/ficheTechnique.pdf')}}" download="ficheTechnique.pdf"><span class="glyphicon glyphicon-save"></span> Télécharger la fiche technique</a>
  </div>
</div>
<br>



{% endblock %}
