.well{
  background-color: #fbfcef;
  border-color: #fbfcef;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}
h1{
  text-align: center;
  margin-bottom: 2%;
}

.presentation-text{
  text-align: justify;
  padding-left: 3%;
  padding-right: 3%;
}
.presentation-img-titre{
  width: 200%;
  height: 200%;
}
.presentation-img{
  width: 70%;
  height: 70%;
}
.presentation-text-titre{
  padding-left: 3%;
  padding-right: 3%;
}

.quatuor-clarinette{
  margin-bottom: 5%;
  margin-top: 3%;
}

.img-thumbnail{
  background: white;
}
