.carousel-inner{
  height: 100%;
  width: 70%;
  margin-left: 15%;
}
.carousel-caption{
  opacity: 100;
  color: rgb(73, 73, 73);
}

#fleche{
  color: black;
  opacity: 1;
}

#titre{
  margin-top: -5%;
  margin-bottom: 5%;
}

#page{
  margin-bottom: 10%;
  margin-top: 10%;
}

#slide{
  opacity:1;
  background-image: url("/img/fond2.jpg");
}

#image{
  height: 40vw;
}

#myCarousel{
  background-color: white;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

#contour{
  background-color: black;
  border-radius: 10px;
  width: 60%;
}

h3{
  color:white;
}

#contour p{
  color: white;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
