.carousel-inner{
  height: 100%;
  width: 100%;
}
.carousel-caption{
  opacity: 100;
  color: rgb(73, 73, 73);
}

#fleche{
  color: white;
  opacity: 1;
}

#titre{
  margin-top: -7%;
}

#page{
  margin-bottom: 2%;
  margin-top: 10%;
}

#slide{
  opacity:1;
}

#image{
  height: 50vw;
}

#myCarousel{
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

#contour{
  background-color: black;
  border-radius: 10px;
  width: 60%;
}

h3{
  color:white;
}

#contour p{
  color: white;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

h1{
  text-align: center;
  margin-bottom: 2%;
}
