#contain-all{
  background-color: #fafdef;
  border-color: black;
  border-style: solid;
  border-width: thin;
  padding: 3%;
  width: 80%;
  margin-left: 10%;
  border-radius: 25px;
  margin-bottom: 3%;
}

#btn-sub{
  margin-left: 20%;
}
