#hliens{
  text-align: center;
  font-size: 30px
}


.underline2{
  width:16%;
  margin-top:-1.5%;

}

.liens{
  text-align: center;
}


.stagiaire-all{
  text-align: center;

}
.stagiaire-annee{
  text-align: center;
}

td{
  background-color: rgba(92, 122, 149, 0.99)
}

th{
  background-color: rgb(110, 110, 110)
}
