#hliens{
  text-align: center;
  font-size: 30px
}


.underline2{
  width:16%;
  margin-top:-1.5%;

}

.liens{
  text-align: center;
}


.stagiaire-all{
  text-align: center;

}
.stagiaire-annee{
  text-align: center;
}

td{
  background-color: rgba(242, 242, 242);
  text-align: center;

}

th{
  background-color: rgb(218, 218, 218);
  text-align: center;
}
