@font-face{
  font-family: "aaa";
  src: url('../../Police/Aaargh.ttf');
}


table .image{
  width: 18%;
}
th, td{
  text-align: center;
  width: 15%;
}
td{
  background-color: rgba(242, 242, 242);
  text-align: center;
}

th{
  background-color: rgb(218, 218, 218);
  text-align: center;
}

#fileupload {
position: absolute;
top: 0;
right: 0;
margin: 0;
opacity: 0;
-ms-filter: 'alpha(opacity=0)';
font-size: 200px;
direction: ltr;
cursor: pointer;
}

.fileinput-button {
position: relative;
overflow: hidden;
}

#end{
  display: flex;
  text-align: center;
  margin-left: 41%;
}
.texte{
  text-align: center;
  font-family: "aaa";
  font-size: 130%;
  padding-right: 2%;
}
