{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/stage/stage_recettes.css')}}">

<script type="text/javascript">
function plats(){
  var url = window.location.href;
  if (url == "http://localhost:5000/stage/recettes/#entree") {
    document.getElementById("entree").style.display= "";
    document.getElementById("plat").style.display= "none";
    document.getElementById("dessert").style.display= "none";
    document.getElementById("sucre").style.display= "none";
    document.getElementById("sel").style.display= "none";
  }
  else if(url =="http://localhost:5000/stage/recettes/#plat"){
    document.getElementById("entree").style.display= "none";
    document.getElementById("plat").style.display= "";
    document.getElementById("dessert").style.display= "none";
    document.getElementById("sucre").style.display= "none";
    document.getElementById("sel").style.display= "none";
  }
  else if(url =="http://localhost:5000/stage/recettes/#dessert"){
    document.getElementById("entree").style.display= "none";
    document.getElementById("plat").style.display= "none";
    document.getElementById("dessert").style.display= "";
    document.getElementById("sucre").style.display= "none";
    document.getElementById("sel").style.display= "none";
  }
  else if(url =="http://localhost:5000/stage/recettes/#sucre"){
    document.getElementById("entree").style.display= "none";
    document.getElementById("plat").style.display= "none";
    document.getElementById("dessert").style.display= "none";
    document.getElementById("sucre").style.display= "";
    document.getElementById("sel").style.display= "none";
  }
  else if(url =="http://localhost:5000/stage/recettes/#sel"){
    document.getElementById("entree").style.display= "none";
    document.getElementById("plat").style.display= "none";
    document.getElementById("dessert").style.display= "none";
    document.getElementById("sucre").style.display= "none";
    document.getElementById("sel").style.display= "";
  }
  else{
    document.getElementById("entree").style.display= "none";
    document.getElementById("plat").style.display= "none";
    document.getElementById("dessert").style.display= "none";
    document.getElementById("sucre").style.display= "none";
    document.getElementById("sel").style.display= "none";
  }
}
var myvar;
function m(){
  myvar = setInterval('plats()',10);
}
</script>

<body onLoad="m()" data-spy="scroll" data-target="#navbar">
  <header>
    <section>
      <nav class="navbar-fixed-bottom">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: black">Recettes par catégories <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a class="choix" id="choix1" href="#entree">Les Entrées</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a class="choix" id="choix2" href="#plat">Les Plats Principaux</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a class="choix" id="choix3" href="#dessert">Les Desserts</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: black">Recettes par saveurs <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a class="choix" id="choix4" href="#sucre">Plats Sucrés</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a class="choix" id="choix5" href="#sel">Plats Salés</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
  </header>
  <section class="container">


    <article id="entree">
      <div class="titre">
        <h1>Les Entrées</h1>
        <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree1.jpg') }}" alt="Velouté Potiron Carotte">
            <h3>Vélouté de Potiron et de Carottes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
          <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree2.jpg') }}" alt="Soupe Chou Vert">
          <h3>Soupe aux Chou Vert <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
        </div>
        </div>
      </div>
        <div class="row">
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree3.jpg') }}" alt="Flan de Courgettes">
              <h3>Flan de Courgettes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
            </div>
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree4.jpg') }}" alt="Terrine de poisson au basilic">
              <h3>Terrine de poisson au basilic <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
          </div>
        </div>
    </article>


    <article id="plat">
      <div class="titre">
        <h1>Les Plats Principaux</h1>
        <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree1.jpg') }}" alt="Velouté Potiron Carotte">
            <h3>Vélouté de Potiron et de Carottes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
          <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree2.jpg') }}" alt="Soupe Chou Vert">
          <h3>Soupe aux Chou Vert <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
        </div>
        </div>
      </div>
        <div class="row">
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree3.jpg') }}" alt="Flan de Courgettes">
              <h3>Flan de Courgettes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
            </div>
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree4.jpg') }}" alt="Terrine de poisson au basilic">
              <h3>Terrine de poisson au basilic <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
          </div>
        </div>
    </article>


    <article id="dessert">
      <div class="titre">
        <h1>Les Desserts</h1>
        <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree1.jpg') }}" alt="Velouté Potiron Carotte">
            <h3>Vélouté de Potiron et de Carottes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
          <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree2.jpg') }}" alt="Soupe Chou Vert">
          <h3>Soupe aux Chou Vert <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
        </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-6 col-sm-6">
            <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree3.jpg') }}" alt="Flan de Courgettes">
            <h3>Flan de Courgettes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
          </div>
          <div class="col-sm-6 col-sm-6">
            <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree4.jpg') }}" alt="Terrine de poisson au basilic">
            <h3>Terrine de poisson au basilic <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
      </div>
    </article>


    <article id="sucre">
      <div class="titre">
        <h1>Plats Sucrés</h1>
        <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree1.jpg') }}" alt="Velouté Potiron Carotte">
            <h3>Vélouté de Potiron et de Carottes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
          <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree2.jpg') }}" alt="Soupe Chou Vert">
          <h3>Soupe aux Chou Vert <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
        </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-6 col-sm-6">
            <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree3.jpg') }}" alt="Flan de Courgettes">
            <h3>Flan de Courgettes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
          </div>
          <div class="col-sm-6 col-sm-6">
            <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree4.jpg') }}" alt="Terrine de poisson au basilic">
            <h3>Terrine de poisson au basilic <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
      </div>
    </article>


    <article id="sel">
      <div class="titre">
        <h1>Plats Salés</h1>
        <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree1.jpg') }}" alt="Velouté Potiron Carotte">
            <h3>Vélouté de Potiron et de Carottes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
          <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree2.jpg') }}" alt="Soupe Chou Vert">
          <h3>Soupe aux Chou Vert <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
        </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-6 col-sm-6">
            <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree3.jpg') }}" alt="Flan de Courgettes">
            <h3>Flan de Courgettes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
          </div>
          <div class="col-sm-6 col-sm-6">
            <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree4.jpg') }}" alt="Terrine de poisson au basilic">
            <h3>Terrine de poisson au basilic <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
      </div>
    </article>
  </section>
</body>

{% endblock %}
