{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/stage/stage_partitions.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/base.css')}}">

<h1> Les Partitions </h1>
<img class="underline2" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline2">

<div id="select-1" class="form-group">
 <label for="sel1">Veuillez sélectionnez votre niveau de stage </label>
 <select class="form-control" id="sel1">
   <option>{{niveauForm.niveau.choices[0]}}</option>
   <option>{{niveauForm.niveau.choices[1]}}</option>
   <option>{{niveauForm.niveau.choices[2]}}</option>
 </select>
</div>

<div class="recherche"><button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo">Voir les partitions</button></div>
  <div id="Niveau1" class="collapse">
    Lorem ipsum dolor text....
  </div>
  <div id="Niveau2" class="collapse">
    J'ai le Niveau 2
  </div>
  <div id="Niveau3" class="collapse">
    J'ai le Niveau 3
  </div>

<script>
  if(document.getElementById("sel1").value()=="Niveau 1"){
    document.getElementById("Niveau1").style.display="";
    document.getElementById("Niveau2").style.display="None";
    document.getElementById("Niveau3").style.display="None";
  }
  if (document.getElementById("sel1").value()=="Niveau 2") {
    document.getElementById("Niveau2").style.display="";
    document.getElementById("Niveau1").style.display="None";
    document.getElementById("Niveau3").style.display="None";
  }
  if (document.getElementById("sel1").value()=="Niveau 3"){
    document.getElementById("Niveau3").style.display="";
    document.getElementById("Niveau2").style.display="None";
    document.getElementById("Niveau1").style.display="None";
  }
</script>
{% endblock %}
