{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/stage/stage_partitions.css')}}">

<script type="text/javascript">
  function niveau(){
    var niveau = document.getElementById("sel1").value;
    if (niveau=="Niveau 1") {
      document.getElementById("Niveau1").style.display= "";
      document.getElementById("Niveau2").style.display= "none";
      document.getElementById("Niveau3").style.display= "none";
    }
    else if(niveau=="Niveau 2"){
      document.getElementById("Niveau2").style.display = "";
      document.getElementById("Niveau1").style.display= "none";
      document.getElementById("Niveau3").style.display= "none";
    }
    else if(niveau=="Niveau 3"){
      document.getElementById("Niveau3").style.display = "";
      document.getElementById("Niveau1").style.display= "none";
      document.getElementById("Niveau2").style.display= "none";
    }
    else{
      document.getElementById("Niveau1").style.display = "none";
      document.getElementById("Niveau2").style.display = "none";
      document.getElementById("Niveau3").style.display = "none";
    }
  }

  var myvar;
  function m(){
    myvar = setInterval('niveau()',10);
  }
</script>

<body onload="m()">
<h1> Les Partitions </h1>
<div id="contain-select-tab">
<div id="select-1" class="form-group">
 <label for="sel1">Veuillez sélectionnez votre niveau de stage </label>
 <select class="form-control" id="sel1">
   <option>{{niveauForm.niveau.choices[0]}}</option>
   <option>{{niveauForm.niveau.choices[1]}}</option>
   <option>{{niveauForm.niveau.choices[2]}}</option>
 </select>
</div>
  <div id="Niveau1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Oeuvre</th>
          <th>Compositeur</th>
          <th>Instrument</th>
          <th>Télécharger</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Concerto 54:D3</td>
          <td>G.P Telemann</td>
          <td>Clarinette Alto</td>
          <td><a download="concerto 54-d3 - Clarinette Alto.pdf" href="{{url_for('static', filename='fichier_statique/concerto 54-d3 - Clarinette Alto.pdf')}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
        </tr>
        <tr>
          <td>Le Déluge Op 45 - Poème Biblique</td>
          <td>Camille Saint-Saëns</td>
          <td>Clarinette Alto</td>
          <td><a download="deluge prelude - Clarinette Alto.pdf" href="{{url_for('static', filename='fichier_statique/deluge prelude - Clarinette Alto.pdf')}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
        </tr>
        <tr>
          <td>Concerto 54-d3</td>
          <td>G.P Telemann</td>
          <td>Clarinette Alto</td>
          <td><a download="concerto 54-d3 - Clarinette Alto.pdf" href="{{url_for('static', filename='fichier_statique/concerto 54-d3 - Clarinette Alto.pdf')}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="Niveau2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Oeuvre</th>
          <th>Compositeur</th>
          <th>Instrument</th>
          <th>Télécharger</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Brass Machine</td>
          <td>Mark Taylor</td>
          <td>Clarinette Alto</td>
          <td><a download="brass machine - Clarinette Alto.pdf" href="{{url_for('static', filename='fichier_statique/brass machine - Clarinette Alto.pdf')}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
        </tr>
        <tr>
          <td>Brass Machine</td>
          <td>Mark Taylor</td>
          <td>Clarinette Basse en Sib</td>
          <td><a download="brass machine - Clarinette Basse en Sib.pdf" href="{{url_for('static', filename='fichier_statique/brass machine - Clarinette Basse en Sib.pdf')}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
        </tr>
        <tr>
          <td>Carmina Burana - I. Fortune Plango Vulnera</td>
          <td>Carl Orff</td>
          <td>Clarinette en Sib 1</td>
          <td><a download="1 fortune plango vulnera - Clarinette en Sib 1.pdf" href="{{url_for('static', filename='fichier_statique/1 fortune plango vulnera - Clarinette en Sib 1.pdf')}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="Niveau3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Oeuvre</th>
          <th>Compositeur</th>
          <th>Instrument</th>
          <th>Télécharger</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Brass Machine</td>
          <td>Mark Taylor</td>
          <td>Clarinette Alto</td>
          <td><a download="brass machine - Clarinette Alto.pdf" href="{{url_for('static', filename='fichier_statique/brass machine - Clarinette Alto.pdf')}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
        </tr>
        <tr>
          <td>Brass Machine</td>
          <td>Mark Taylor</td>
          <td>Clarinette Basse en Sib</td>
          <td><a download="brass machine - Clarinette Basse en Sib.pdf" href="{{url_for('static', filename='fichier_statique/brass machine - Clarinette Basse en Sib.pdf')}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
        </tr>
        <tr>
          <td>Carmina Burana - I. Fortune Plango Vulnera</td>
          <td>Carl Orff</td>
          <td>Clarinette en Sib 1</td>
          <td><a download="1 fortune plango vulnera - Clarinette en Sib 1.pdf" href="{{url_for('static', filename='fichier_statique/1 fortune plango vulnera - Clarinette en Sib 1.pdf')}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
        </tr>
      </tbody>
    </table>
</div>
</div>
</body>
{% endblock %}
