{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/stage/stage_recettes.css')}}">

<script type="text/javascript">
  // Mon code Javascript
  // Scroller
$(function(){
  $('a[href*=#]').click(function() {
  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var $target = $(this.hash);
          $target = $target.length && $target || $('[name=' + this.hash.slice(1) +']');
          if ($target.length) {
              var targetOffset = $target.offset().top -0;
              $('html,body').animate({scrollTop: targetOffset}, 300);
              return false;
          }
      }
  });
});
</script>

<body data-spy="scroll" data-target="#navbar">
  <header>
    <section>
      <nav id="navbar2">
        <ul id="nav" class="navbar-nav nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Recettes par catégories <span class="caret"></span></a>
            <ul id="navbar-ul" class="dropdown-menu">
              <li id="nav-li"><a id="nav-li-a" class="sous_menu" href="#entree">Les Entrées</a></li>
              <li id="nav-li"><a id="nav-li-a" class="sous_menu" href="#plat">Les Plats Principaux</a></li>
              <li id="nav-li"><a id="nav-li-a" class="sous_menu" href="#dessert">Les Desserts</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Recettes par saveurs <span class="caret"></span></a>
            <ul id="navbar-ul" class="dropdown-menu">
              <li id="nav-li"><a id="nav-li-a" class="sous_menu" href="#sucre">Plats Sucrés</a></li>
              <li id="nav-li"><a id="nav-li-a" class="sous_menu" href="#sel">Plats Salés</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </section>
  </header>
  <section class="container">
    <article id="entree">
      <div class="titre">
        <h1>Les Entrées</h1>
        <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree1.jpg') }}" alt="Velouté Potiron Carotte">
            <h3>Vélouté de Potiron et de Carottes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
          <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree2.jpg') }}" alt="Soupe Chou Vert">
          <h3>Soupe aux Chou Vert <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
        </div>
        </div>
      </div>
        <div class="row">
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree3.jpg') }}" alt="Flan de Courgettes">
              <h3>Flan de Courgettes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
            </div>
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree4.jpg') }}" alt="Terrine de poisson au basilic">
              <h3>Terrine de poisson au basilic <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
          </div>
        </div>
    </article>
    <article id="plat">
      <div class="titre">
        <h1>Les Plats Principaux</h1>
        <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree1.jpg') }}" alt="Velouté Potiron Carotte">
            <h3>Vélouté de Potiron et de Carottes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
          <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree2.jpg') }}" alt="Soupe Chou Vert">
          <h3>Soupe aux Chou Vert <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
        </div>
        </div>
      </div>
        <div class="row">
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree3.jpg') }}" alt="Flan de Courgettes">
              <h3>Flan de Courgettes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
            </div>
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree4.jpg') }}" alt="Terrine de poisson au basilic">
              <h3>Terrine de poisson au basilic <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
          </div>
        </div>
    </article>
    <article id="dessert">

      <div class="titre">
        <h1>Les Desserts</h1>
        <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree1.jpg') }}" alt="Velouté Potiron Carotte">
            <h3>Vélouté de Potiron et de Carottes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
          <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree2.jpg') }}" alt="Soupe Chou Vert">
          <h3>Soupe aux Chou Vert <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
        </div>
        </div>
      </div>
        <div class="row">
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree3.jpg') }}" alt="Flan de Courgettes">
              <h3>Flan de Courgettes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
            </div>
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree4.jpg') }}" alt="Terrine de poisson au basilic">
              <h3>Terrine de poisson au basilic <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
          </div>
        </div>
    </article>
    <article id="sucre">
      <div class="titre">
        <h1>Plats Sucrés</h1>
        <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree1.jpg') }}" alt="Velouté Potiron Carotte">
            <h3>Vélouté de Potiron et de Carottes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
          <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree2.jpg') }}" alt="Soupe Chou Vert">
          <h3>Soupe aux Chou Vert <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
        </div>
        </div>
      </div>
        <div class="row">
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree3.jpg') }}" alt="Flan de Courgettes">
              <h3>Flan de Courgettes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
            </div>
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree4.jpg') }}" alt="Terrine de poisson au basilic">
              <h3>Terrine de poisson au basilic <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
          </div>
        </div>
    </article>
    <article id="sel">
      <div class="titre">
        <h1>Plats Salés</h1>
        <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
            <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree1.jpg') }}" alt="Velouté Potiron Carotte">
            <h3>Vélouté de Potiron et de Carottes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
          </div>
        </div>
        <div class="col-sm-6 col-sm-6">
          <div class="texte">
          <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree2.jpg') }}" alt="Soupe Chou Vert">
          <h3>Soupe aux Chou Vert <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
        </div>
        </div>
      </div>
        <div class="row">
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree3.jpg') }}" alt="Flan de Courgettes">
              <h3>Flan de Courgettes <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
            </div>
            <div class="col-sm-6 col-sm-6">
              <div class="texte">
              <img class="img-thumbnail" src="{{ url_for('static',filename='img/entree4.jpg') }}" alt="Terrine de poisson au basilic">
              <h3>Terrine de poisson au basilic <a download="fichetechnique.pdf" href="{{ url_for('static',filename='fichier_statique/fichetechnique.pdf')}}" ><small><span class="glyphicon glyphicon-save"></span></small></a></h3>
            </div>
          </div>
        </div>
    </article>
  </section>
</body>

{% endblock %}
