{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/stage/stage_inscription_autorisation_medicale.css')}}">
<h1>Inscription à un Stage</h1>
<div class='first-subtitle'>
    <h3 id="h3title">Autorisation Médicale</h3>
    <img class="underline" src="{{ url_for('static',filename='img/underline3.png') }}" alt="underline">
</div>
<p>En cas d’accident, l’établissement s’efforce de prévenir la famille par les moyens les plus rapides.
    Veuillez faciliter notre tâche en indiquant le numéro de sécurité sociale et au moins un numéro de téléphone :</p>
<div class="bigcontainer">
    <div class="container" id="container1">
        <div class="row">
            <div class="col-sm-11">
                <form class="form-horizontal" role="form" method="POST" action="{{ url_for('stage_inscription_autorisationMedicale') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="numContactUrg1">{{ form.numContactUrg1.label }}</label>
                        <div>
                            {{ form.numContactUrg1(size=50, class_="form-control", type="tel", pattern="[0-9]{10}", placeholder="0633592090")}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numContactUrg2">{{ form.numContactUrg2.label }}</label>
                        <div>
                            {{ form.numContactUrg2(size=50, class_="form-control", type="tel", pattern="[0-9]{10}", placeholder="0633592090")}}
                        </div>
                    </div>
                    <button data-toggle="collapse" data-target="#demo" class="button button5"><span class="glyphicon glyphicon-plus"></span></button>
                    <div id="demo" class="collapse">
                        <label for="numContactUrg3">{{ form.numContactUrg3.label }}</label>
                        <div>
                            {{ form.numContactUrg3(size=50, class_="form-control", type="tel", pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}", placeholder="06-33-59-20-90")}}
                        </div>
                    </div>
            </div>
        </div>
        <p id="palign">ATTENTION
                Conformément à la loi n° 2002-303 du 4 mars 2002 relative aux droits des malades :
                En cas d’urgence, un élève accidenté ou malade est orienté et transporté par les services de secours d’urgence vers l’hôpital le mieux adapté. La famille est immédiatement avertie par nos soins. Un élève mineur ne peut sortir de l’hôpital qu’accompagné de sa famille. Si vous le souhaitez, dans l'intérêt de votre enfant, vous pouvez prendre rendez-vous avec les responsables de l’association pour nous expliquer un éventuel cadre clinique particulier, ou la prise d'un
                traitement nécessitant notre vigilance.</p>
        <div class="bigcontainer2">
            <div class="container" id="container1">
                <div class="row">
                    <div class="col-sm-11">
                        <ul>
                            <li>
                                <a download="autorisationMedicale.pdf" href="{{ url_for('static',filename='fichier_statique/autorisationMedicale.pdf')}}">Télécharger ce formulaire</a>
                            </li>
                            <li>
                              <input type="submit" id="submit" class="btn btn-default" value="Valider">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
