@font-face{
  font-family: "Roboto";
  src: url('../../Police/Roboto-Medium.ttf');
}
@font-face{
  font-family: "aaa";
  src: url('../../Police/Aaargh.ttf');
}

@font-face {
    font-family: "quick"
    src:url('../../Police/Quicksand_Book.otf');
}

#main{
  margin-top: 5em;
  background-color: #ffffffaa;
  border-radius: 1em;
}
body{
  background-image: url("../../img/imgFond.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "aaa";
}

@font-face {
  font-family: 'adam';
  src: url("../font/Quicksand_Bold.otf");

}

/* @media screen and (min-width: 768px) {
 .navbar:hover .dropdown-toggle:hover{
   background-color: white;
 }
 .dropdown-toggle:hover p{
   color: black;
 }

.navbar-nav img{
  height: 250%;
  margin-left: -30%;
  margin-top: -18%;
}

.navbar-nav{
  margin-top: 1%;
  font-size: 150%;
  margin-left: -5%;
  width: auto;
}

.navbar-collapse{
  background-color: black;
}

.navbar-nav:hover .dropdown-toggle:hover{
  background-color: white;
  color: black;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
} */
/*  Fin du menu de navigation  */

h1{
  font-family: 'aaa';
}
h2{
  font-family: 'aaa';
}
h3{
  font-family: 'aaa';
}
.color{
  color:black;
}
h1{
  text-align: center;
  margin-bottom: 2%;
}
#logo{
  width: 48%;
  margin-left: -25%;
  display: flex;
}

.navbar-default{
  background-color: black;
}

.navbar-default p{
  color:white;
}
